.container{
    text-align: center;
}
table{
    margin:auto;
}
input{
    font-size: 35px;
    border: solid black;
}
button{
    font-size:23px;
    background: aquamarine;
    width:109px;
    height:60px;
    border-radius: 10px;
}
.calculator{
    display:inline-block;
}